@font-face {
    font-family: anotherFont;
    src: url("Merriweather-Black.ttf");
}

@font-face {
    font-family: BFont;
    src: url("BeautifulPeoplePersonalUse-dE0g.ttf");
}

html {
    background-color: aliceblue;
    font-family: "anotherFont";
    font-weight: 400;
    font-style: normal;
}

h1 {
    text-align: center;
    font-size: 100px;
}

#divBet {
    background-color: deepskyblue;
    border-radius: 50px;
}

#divcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#divBet {
    width: 50%;
    text-align: center;
}

ol.numbers li {
    font-family: anotherFont;
    display: inline-block;
    width: 100px;
    height: 75px;
    font-size: 50px;
    text-align: center;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
}

#olMain li {
    background-color: greenyellow;
}

#olStars li {
    background-color: yellow;
    ;
}

#genBtn {
    width: 200px;
    height: 75px;
    font-size: 20px;
    margin: 20px;
}